apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: czop
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: czop
    app.kubernetes.io/part-of: byoc-app-qwxt
  name: czop
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: czop
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: czop
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-rqdn-tenant/byoc-app-qwxt/czop@sha256:560a565ad26b83277301b02e7ee513ac446ec9e8b7c3254d146005fc6f760f29
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
