apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: czop
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-rqdn-tenant/byoc-app-qwxt/czop@sha256:560a565ad26b83277301b02e7ee513ac446ec9e8b7c3254d146005fc6f760f29
        name: my-java-quarkus
        resources: {}
status: {}
